/* GENERAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #ddd;
  overflow: hidden;
}

/* MENU */
.menu {
  position: absolute;
  margin: 10px 10px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 10px 20px;

  border: 1px solid #333;
  border-radius: 10px;

  background-color: #fff;
  box-shadow: #3333335d 0px 0px 10px;
  color: #333;
}

.color-picker {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.wrapper-color-picker {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.wrapper-color-picker:hover {
  opacity: 0.9;
}

/* CANVAS */
.canvas {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.pixel {
}

.pixel:hover {
  background-color: #33333346;
}
