/* CANVAS */
.canvas {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.pixel {
  background-color: #eee;
}

.pixel:hover {
  background-color: #33333346;
  opacity: 0.9;
}

/* MENU */
.warning-menu,
.new-canvas-menu,
.menu {
  position: absolute;
  margin: 25px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 20px;

  border: 1px solid #333;
  border-radius: 10px;

  background-color: #fff;
  box-shadow: #3333335d 0px 0px 10px;
  color: #333;

  font-size: 25px;
}

.color-picker {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.wrapper-color-picker {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.wrapper-color-picker:hover {
  opacity: 0.9;
}

.fa-solid:hover {
  opacity: 0.8;
}

.separator {
  padding-top: 25px;
  border-top: 1px solid #3333339a;
}

/* NEW CANVAS MENU */
.new-canvas-menu {
  gap: 40px;

  top: 0%;
  left: 5%;

  width: 300px;
  font-size: medium;

  display: none;
}

.fa-xmark {
  align-self: flex-end;
  font-size: large;
  color: #333;
  border: none;
}

.fa-xmark:hover {
  color: #333333cc;
}

.new-canvas-button {
  font-size: medium;
}

/* WARNING MENU */
.warning-menu {
  top: 27%;
  left: 5%;

  width: 300px;

  font-size: medium;

  display: none;
}

.buttons-container {
  display: flex;
  gap: 20px;
}
