.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.title {
  color: #333;
  font-weight: bolder;
  font-size: 5em;
  text-decoration: underline;
}

.name {
  margin-left: 25em;
  margin-bottom: 5em;
  color: #333;
}

.name > a {
  color: rgb(14, 150, 99);
  text-decoration: none;
}

.name > a:hover {
  text-decoration: underline;
}

.create-button {
  text-decoration: none;
}

.github-link {
  font-size: xx-large;
  color: #333;

  margin-top: 53vh;
  margin-right: 1%;
  align-self: flex-end;
}

.github-link > i:hover {
  color: rgb(14, 150, 99);
}
