/* GENERAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #eee;
}

/* BUTTON */
.button {
  color: #ddd;
  font-weight: bolder;
  font-size: 1em;

  padding: 10px 30px;
  border-radius: 10px;
  background-color: rgb(14, 150, 99);
  border: none;

  cursor: pointer;
}

.button:hover {
  background-color: rgba(14, 150, 100, 0.726);
}
